[Service]
ExecStart=/usr/bin/node /opt/probo/probo-asset-receiver/bin/probo-asset-receiver -c /opt/probo/probo-asset-receiver/defaults.yml
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=probo-asset-receiver
User=probo
Group=probo
