[Service]
ExecStart=/usr/bin/node /opt/probo/probo/bin/probo container-manager -c /opt/probo/probo/bin/probo/cm.yml
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=probo-cm
User=probo
Group=probo
