[Unit]
Description=Open Source Probo Bitbucket Handler
After=probo-cm.service

[Service]
ExecStart=/usr/bin/node /opt/probo/probo-bitbucket/bin/probo-bitbucket-handler -c /opt/probo/probo-bitbucket/defaults.yaml
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=probo-bitbucket
User=probo
Group=probo
